<div class="container">
  <!-- Formulario a la izquierda -->
  <div class="form-container">
    <h1>{{ indiceEdicion !== null ? 'Editar usuario' : 'Agregar un nuevo usuario' }}</h1>
    <form (submit)="agregarElemento()" class="user-form">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input id="nombre" [(ngModel)]="nuevoUsuario.name" name="name" placeholder="Nombre del usuario" required />
      </div>

      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input id="password" [(ngModel)]="nuevoUsuario.password" name="password" placeholder="Password" required />
      </div>

      <div class="form-group">
        <label for="confirmarPassword">Confirmar Contraseña:</label>
        <input id="confirmarPassword" [(ngModel)]="confirmarPassword" name="confirmarPassword" placeholder="Confirmar Password" required />
      </div>

      <div class="form-group">
        <label for="biografia">Biografía:</label>
        <input id="biografia" [(ngModel)]="nuevoUsuario.comment" name="comment" placeholder="Biografía" required />
      </div>

      <!-- El botón cambia de texto según si estamos editando o agregando -->
      <button type="submit" class="submit-button">
        {{ indiceEdicion !== null ? 'Actualizar' : 'Agregar' }}
      </button>
    </form>
  </div>

  <!-- Lista de usuarios a la derecha -->
  <div class="lista-usuarios">
    <h2>Lista de Usuarios</h2>
    <ul>
      <li *ngFor="let usuario of usuarios; let i = index">
        <div>
          <strong>{{ usuario.name }}</strong>
          <button (click)="toggleDesplegable(i)" class="detalles">
            {{ desplegado[i] ? 'Ocultar detalles' : 'Mostrar detalles' }}
          </button>
          <button (click)="eliminarElemento(i)" class="eliminar">Eliminar</button>
        </div>

        <!-- Detalles del usuario -->
        <div *ngIf="desplegado[i]">
          <p><strong>Contraseña:</strong> {{ usuario.password }}</p>
          <p><strong>Biografía:</strong> {{ usuario.comment }}</p>
          <button (click)="prepararEdicion(usuario, i)" class="modificar">Modificar</button>
        </div>
      </li>
    </ul>
  </div>
</div>
